//- index.pug
doctype html
html
  include includes/head.pug
  body
    .demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
        include includes/nav.pug
        main.mdl-layout__content.mdl-color--grey-100
            .mdl-grid.demo-content
                .mdl-cell.mdl-cell--12-col.mdl-cell--8-col-tablet.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp.mdl-color--white
                    h3(style="text-align: center; padding-left:40px;") BJP Karnataka
                    br
                    #tweets(style="padding:20px;")
                        hr
                        .tweet
                            .mdl-grid
                                .mdl-cell--8-col.
                                    "Schedule of BJP National President Shri @AmitShah's public programs today in Karnataka.
                                    @AmitShahOffice https://t.co/8WxrxPMmqP"
                            .mdl-grid(style='text-align: center;')
                                .mdl-cell--4-col
                                    i.mdl-color-text--white-400.material-icons(style='font-size: 16px;') account_circle
                                    |  jaimine33
                                .mdl-cell--4-col
                                    i.mdl-color-text--white-400.material-icons(style='font-size: 16px;') access_time
                                    |  2018-04-27T05:08:20.000Z
                                .mdl-cell--4-col
                                    i.mdl-color-text--white-400.material-icons(style='font-size: 16px;') forum
                                    |  Retweets: 22
                            hr
                        .tweet
                            .mdl-grid
                                .mdl-cell--8-col.
                                    "Dear BJP, 
                                    Karnataka is growing steady. 
                                    It doesn't need -
                                    Modi, Yeddy &amp; Reddy! 

                                    #KarnatakaDefeatsBJP 

                                    Our Statement:- https://t.co/jzQ8c6wnzE"
                            .mdl-grid(style='text-align: center;')
                                .mdl-cell--4-col
                                    i.mdl-color-text--white-400.material-icons(style='font-size: 16px;') account_circle
                                    |  shirazmahad
                                .mdl-cell--4-col
                                    i.mdl-color-text--white-400.material-icons(style='font-size: 16px;') access_time
                                    |  2018-04-27T05:09:07.000Z
                                .mdl-cell--4-col
                                    i.mdl-color-text--white-400.material-icons(style='font-size: 16px;') forum
                                    |  Retweets: 261
                            hr
                        .tweet
                            .mdl-grid
                                .mdl-cell--8-col.
                                    "BJP neither understands #KannadaSwabhimana nor #TeluguSwabhimanam . Otherwise BJP would not have broken the promise made to the Telugu people.

                                    Of course the only promise it makes to Karnataka is to bring back the #Reddy-Yurappa gang to rule with UP style governance. https://t.co/JT4jwykw8N"
                            .mdl-grid(style='text-align: center;')
                                .mdl-cell--4-col
                                    i.mdl-color-text--white-400.material-icons(style='font-size: 16px;') account_circle
                                    |  LaxsonDsouza
                                .mdl-cell--4-col
                                    i.mdl-color-text--white-400.material-icons(style='font-size: 16px;') access_time
                                    |  2018-04-27T05:09:07.000Z
                                .mdl-cell--4-col
                                    i.mdl-color-text--white-400.material-icons(style='font-size: 16px;') forum
                                    |  Retweets: 163
                            hr
                        .tweet
                            .mdl-grid
                                .mdl-cell--8-col.
                                    "Now the only thing that is left for BJP to do is to declare officially that it will, if elected, bring “Yogi Model of Governance” to Karnataka.

                                    Kannadigas deserve to be forewarned. https://t.co/yU4lz5m977"
                            .mdl-grid(style='text-align: center;')
                                .mdl-cell--4-col
                                    i.mdl-color-text--white-400.material-icons(style='font-size: 16px;') account_circle
                                    |  pandith_suresh
                                .mdl-cell--4-col
                                    i.mdl-color-text--white-400.material-icons(style='font-size: 16px;') access_time
                                    |  2018-04-27T05:09:49.000Z
                                .mdl-cell--4-col
                                    i.mdl-color-text--white-400.material-icons(style='font-size: 16px;') forum
                                    |  Retweets: 583
                            hr
                        .tweet
                            .mdl-grid
                                .mdl-cell--8-col.
                                    "Now the only thing that is left for BJP to do is to declare officially that it will, if elected, bring “Yogi Model of Governance” to Karnataka.

                                    Kannadigas deserve to be forewarned. https://t.co/yU4lz5m977"
                            .mdl-grid(style='text-align: center;')
                                .mdl-cell--4-col
                                    i.mdl-color-text--white-400.material-icons(style='font-size: 16px;') account_circle
                                    | raj_mythri
                                .mdl-cell--4-col
                                    i.mdl-color-text--white-400.material-icons(style='font-size: 16px;') access_time
                                    |  2018-04-27T05:09:44.000Z
                                .mdl-cell--4-col
                                    i.mdl-color-text--white-400.material-icons(style='font-size: 16px;') forum
                                    |  Retweets: 583
                            hr
                        .tweet
                            .mdl-grid
                                .mdl-cell--8-col.
                                    As some of the BJP’s own fans pointed out on Twitter, BJP’s claim on toilet construction showed that the previous UPA govt built toilets at a fraction of the cost than the NDA; Congress was quick to pounce on the massive PR #blooper #ToiletEkScamKatha https://t.co/LSVXYs1KUg
                            .mdl-grid(style='text-align: center;')
                                .mdl-cell--4-col
                                    i.mdl-color-text--white-400.material-icons(style='font-size: 16px;') account_circle
                                    |  yemaneds
                                .mdl-cell--4-col
                                    i.mdl-color-text--white-400.material-icons(style='font-size: 16px;') access_time
                                    |  2018-04-27T05:10:10.000Z
                                .mdl-cell--4-col
                                    i.mdl-color-text--white-400.material-icons(style='font-size: 16px;') forum
                                    |  Retweets: 44
                            hr